In [65]:
import pandas as pd
import networkx as nx
from tqdm.notebook import tqdm
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import sys
from IPython.display import display

In [ ]:
years = range(1990,2022)
for y in years:
    locals()['Gorg' + str(y)] = nx.read_gpickle(r'C:\Users\Marco\Documents\GitHub\crunch_net\ANS\ANS_all\orgorg4\orgorg4_single' +
                                               str(y) +
                                               '.gpickle')
    print(y)

In [ ]:
def plot_degree_dist(G):
    hist = nx.degree_histogram(G)
    q = [w+1 for w in hist]
    q = np.log(q[1:])
    
    plt.subplot(7,3, y-2000)
    x = np.log(range(1, len(hist)))
    plt.plot(x, q, ".")
    plt.title(str(y))
    
    #plt.loglog()
    m, b = np.polyfit(x, q, 1)
    plt.plot(x, m*x + b)
    #print(y)
    #print(m)
    #print(' ')

In [ ]:
f, axs = plt.subplots(7,3,figsize=(15,15), sharex=True, sharey=True)

for y in range(2001,2022):
    plot_degree_dist(locals()['Gorg' + str(y)])
f.add_subplot(111, frameon=False)
plt.tick_params(labelcolor="none", bottom=False, left=False)
plt.xlabel("Common X-Axis")
plt.ylabel("Common Y-Axis")
plt.show()

In [ ]:
'ciao'

### Most important

In [69]:
bidders = pd.read_csv(r'C:\Users\Marco\Documents\GitHub\crunch_net\ANS\ANS_all\Covariate_bidbid_final_final2.csv') # <-- relative path
orgs = pd.read_csv(r'C:\Users\Marco\Documents\GitHub\crunch_net\ANS\ANS_all\Covariates_orgorg_final2.csv') # <-- relative path

In [49]:
nodes = pd.read_csv(r'C:\Users\Marco\Documents\GitHub\crunch_net\ANS\ANS_all\nodes.csv') # <-- relative path

In [70]:
bidders = pd.merge(bidders, nodes, on = 'id')
orgs = pd.merge(orgs,nodes, on = 'id')

In [71]:
for y in range(1995,2021):
    display(orgs[['deg' + str(y), 'node', 'country', 'industry']].sort_values(ascending=False, 
                                                                                            by = 'deg' + str(y)).head())

,deg1995,node,country,industry
7226,43.0,Khepri Pharmaceuticals,United States,Biotechnology
7080,40.0,Shaman Pharmaceuticals,United States,Pharmaceuticals / Drugs
6997,39.0,Oculon,United States,Drug Development
6970,37.0,Synaptic Pharmaceutical,United States,Biotechnology
7239,37.0,Microcide Pharmaceuticals,United States,Biotechnology

,deg1996,node,country,industry
7226,47.0,Khepri Pharmaceuticals,United States,Biotechnology
7080,41.0,Shaman Pharmaceuticals,United States,Pharmaceuticals / Drugs
7239,40.0,Microcide Pharmaceuticals,United States,Biotechnology
6970,39.0,Synaptic Pharmaceutical,United States,Biotechnology
6997,39.0,Oculon,United States,Drug Development

,deg1997,node,country,industry
7226,50.0,Khepri Pharmaceuticals,United States,Biotechnology
7239,47.0,Microcide Pharmaceuticals,United States,Biotechnology
6970,43.0,Synaptic Pharmaceutical,United States,Biotechnology
7080,43.0,Shaman Pharmaceuticals,United States,Pharmaceuticals / Drugs
6997,42.0,Oculon,United States,Drug Development

      deg1998                       node        country             industry
7239     84.0  Microcide Pharmaceuticals  United States        Biotechnology
7226     65.0     Khepri Pharmaceuticals  United States        Biotechnology
7252     64.0                      Geron  United States        Biotechnology
7354     56.0                MedicaLogic  United States  Healthcare Software
6997     55.0                     Oculon  United States     Drug Development

      deg1999                       node        country       industry
7239    116.0  Microcide Pharmaceuticals  United States  Biotechnology
7252    100.0                      Geron  United States  Biotechnology
3858     95.0                  Neurotech        Belgium  Biotechnology
7400     89.0         Allos Therapeutics  United States  Biotechnology
7314     85.0     Biovector Therapeutics         France  Drug Delivery

,deg2000,node,country,industry
7545,179.0,Adolor Corporation,United States,Pharmaceuticals / Drugs
7892,174.0,Cellomics,United States,Drug Discovery
1631,162.0,CymaBay Therapeutics,United States,Biotechnology
3858,160.0,Neurotech,Belgium,Biotechnology
7547,151.0,Caliper Life Sciences,United States,Medical Devices & Equipment

,deg2001,node,country,industry
7892,234.0,Cellomics,United States,Drug Discovery
7545,233.0,Adolor Corporation,United States,Pharmaceuticals / Drugs
1631,213.0,CymaBay Therapeutics,United States,Biotechnology
3858,210.0,Neurotech,Belgium,Biotechnology
7547,202.0,Caliper Life Sciences,United States,Medical Devices & Equipment

,deg2002,node,country,industry
7545,277.0,Adolor Corporation,United States,Pharmaceuticals / Drugs
7892,271.0,Cellomics,United States,Drug Discovery
1631,270.0,CymaBay Therapeutics,United States,Biotechnology
3858,248.0,Neurotech,Belgium,Biotechnology
7547,233.0,Caliper Life Sciences,United States,Medical Devices & Equipment

      deg2003                  node        country                 industry
7626    341.0   Acorda Therapeutics  United States  Pharmaceuticals / Drugs
7400    340.0    Allos Therapeutics  United States            Biotechnology
1631    331.0  CymaBay Therapeutics  United States            Biotechnology
7892    324.0             Cellomics  United States           Drug Discovery
7545    318.0    Adolor Corporation  United States  Pharmaceuticals / Drugs

      deg2004                 node        country                 industry
7803    432.0         Reprogenesis  United States         Drug Development
7626    412.0  Acorda Therapeutics  United States  Pharmaceuticals / Drugs
7461    412.0  Aradigm Corporation  United States            Drug Delivery
7400    408.0   Allos Therapeutics  United States            Biotechnology
7992    399.0      Orchid Cellmark  United States            Biotechnology

      deg2005                    node        country          industry
7803    478.0            Reprogenesis  United States  Drug Development
7400    475.0      Allos Therapeutics  United States     Biotechnology
7461    474.0     Aradigm Corporation  United States     Drug Delivery
6589    457.0  Memory Pharmaceuticals  United States     Biotechnology
7992    441.0         Orchid Cellmark  United States     Biotechnology

       deg2006                    node        country                 industry
7626     599.0     Acorda Therapeutics  United States  Pharmaceuticals / Drugs
6589     586.0  Memory Pharmaceuticals  United States            Biotechnology
7461     537.0     Aradigm Corporation  United States            Drug Delivery
10165    512.0                 Zalicus  United States            Biotechnology
7400     509.0      Allos Therapeutics  United States            Biotechnology

       deg2007                    node        country                 industry
6589     654.0  Memory Pharmaceuticals  United States            Biotechnology
7626     642.0     Acorda Therapeutics  United States  Pharmaceuticals / Drugs
7461     594.0     Aradigm Corporation  United States            Drug Delivery
10165    583.0                 Zalicus  United States            Biotechnology
7400     539.0      Allos Therapeutics  United States            Biotechnology

       deg2008                    node        country                 industry
6589     695.0  Memory Pharmaceuticals  United States            Biotechnology
7626     649.0     Acorda Therapeutics  United States  Pharmaceuticals / Drugs
10165    630.0                 Zalicus  United States            Biotechnology
7461     597.0     Aradigm Corporation  United States            Drug Delivery
7444     586.0               Inhibitex  United States            Biotechnology

       deg2009                    node        country                 industry
6589     702.0  Memory Pharmaceuticals  United States            Biotechnology
7626     650.0     Acorda Therapeutics  United States  Pharmaceuticals / Drugs
10165    646.0                 Zalicus  United States            Biotechnology
7444     600.0               Inhibitex  United States            Biotechnology
7461     597.0     Aradigm Corporation  United States            Drug Delivery

,deg2010,node,country,industry
6589,707.0,Memory Pharmaceuticals,United States,Biotechnology
7699,670.0,Biolex Therapeutics,United States,Drug Discovery
10165,665.0,Zalicus,United States,Biotechnology
7626,650.0,Acorda Therapeutics,United States,Pharmaceuticals / Drugs
1772,630.0,Portola Pharmaceuticals,United States,Biotechnology

,deg2011,node,country,industry
6589,715.0,Memory Pharmaceuticals,United States,Biotechnology
7699,683.0,Biolex Therapeutics,United States,Drug Discovery
10165,678.0,Zalicus,United States,Biotechnology
1772,659.0,Portola Pharmaceuticals,United States,Biotechnology
7626,651.0,Acorda Therapeutics,United States,Pharmaceuticals / Drugs

       deg2012                     node        country        industry
6589     718.0   Memory Pharmaceuticals  United States   Biotechnology
10165    687.0                  Zalicus  United States   Biotechnology
7699     685.0      Biolex Therapeutics  United States  Drug Discovery
10961    678.0                 Celladon  United States   Biotechnology
1772     665.0  Portola Pharmaceuticals  United States   Biotechnology

       deg2013                     node        country        industry
6589     719.0   Memory Pharmaceuticals  United States   Biotechnology
10961    695.0                 Celladon  United States   Biotechnology
7699     689.0      Biolex Therapeutics  United States  Drug Discovery
10165    687.0                  Zalicus  United States   Biotechnology
1772     669.0  Portola Pharmaceuticals  United States   Biotechnology

       deg2014                     node        country        industry
10961    728.0                 Celladon  United States   Biotechnology
6589     719.0   Memory Pharmaceuticals  United States   Biotechnology
7699     695.0      Biolex Therapeutics  United States  Drug Discovery
10165    687.0                  Zalicus  United States   Biotechnology
1772     682.0  Portola Pharmaceuticals  United States   Biotechnology

       deg2015                     node        country          industry
10961    750.0                 Celladon  United States     Biotechnology
6589     719.0   Memory Pharmaceuticals  United States     Biotechnology
7699     696.0      Biolex Therapeutics  United States    Drug Discovery
4601     694.0         PTC Therapeutics  United States  Drug Development
1772     687.0  Portola Pharmaceuticals  United States     Biotechnology

       deg2016                     node        country          industry
10961    778.0                 Celladon  United States     Biotechnology
6589     719.0   Memory Pharmaceuticals  United States     Biotechnology
4601     698.0         PTC Therapeutics  United States  Drug Development
7699     696.0      Biolex Therapeutics  United States    Drug Discovery
1772     693.0  Portola Pharmaceuticals  United States     Biotechnology

,deg2017,node,country,industry
10961,802.0,Celladon,United States,Biotechnology
6170,756.0,NeuroPace,United States,Medical Devices & Equipment
6589,719.0,Memory Pharmaceuticals,United States,Biotechnology
1772,705.0,Portola Pharmaceuticals,United States,Biotechnology
4601,703.0,PTC Therapeutics,United States,Drug Development

,deg2018,node,country,industry
10961,824.0,Celladon,United States,Biotechnology
6170,778.0,NeuroPace,United States,Medical Devices & Equipment
2448,738.0,23andMe,United States,Disease Diagnosis
6589,719.0,Memory Pharmaceuticals,United States,Biotechnology
4601,716.0,PTC Therapeutics,United States,Drug Development

,deg2019,node,country,industry
10961,824.0,Celladon,United States,Biotechnology
2448,795.0,23andMe,United States,Disease Diagnosis
6170,794.0,NeuroPace,United States,Medical Devices & Equipment
1019,723.0,Intarcia Therapeutics,United States,Pharmaceuticals / Drugs
6589,719.0,Memory Pharmaceuticals,United States,Biotechnology

,deg2020,node,country,industry
2448,856.0,23andMe,United States,Disease Diagnosis
6170,851.0,NeuroPace,United States,Medical Devices & Equipment
17473,836.0,Syros Pharmaceuticals,United States,Biotechnology
10961,824.0,Celladon,United States,Biotechnology
13979,804.0,CytomX Therapeutics,United States,Biotechnology